$blacky: #121212;
$blue: #108ee9;

body {
  background-color: #fafafa;
}
.container {
  width: 1140px;
  max-width: 100%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.root {
  color: #666;
}
.box {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
  height: 400px;
}
.search-box {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid gainsboro;
  button {
    padding: 8px 16px;
    background-color: white;
    border: none;
    outline: none;
    border-left: 1px solid gainsboro;

    font-size: 1.2rem;
    font-weight: 800;
  }
  .ant-select-selection {
    display: flex;
    min-height: 50px;
    line-height: 50px;
    align-items: center;
    border-radius: 0px;
    border: none;
    & > div {
      margin: auto 6px;
    }
    .ant-select-selection__choice, .ant-select-search {
      height: 30px;
      line-height: 30px;
      font-size: 120%;
    }
  }
}
.recipes {
  padding: 8px 0;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.recipe {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  .img {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
    flex-shrink: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
  }
  a.title {
    font-size: 1.3rem;
    color: $blacky;
    text-transform: uppercase;
    font-weight: 800;
    &:hover {
      color: lighten($blacky, 50%);
    }
  }
  &--ingredient {
    display: inline;
    margin-right: 6px;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
}
.ant-pagination {
  display: flex;
  justify-content: center;
  padding: 16px;
}
.ant-select-dropdown {
  display: none!important;
}
